<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Register</title>
</head>
<body>
<form method="post" action="/register">
    <label for="email" th:text="'Email: '"></label>
    <input id="email" name="email" type="email"><br/>
    <label for="nickname" th:text="'Nickname: '"></label>
    <input id="nickname" name="nickname" type="text"><br/>
    <label for="password" th:text="'Password: '"></label>
    <input id="password" name="password" type="password">
    <button type="submit">Register</button>
</form>
</body>
</html>